%div.container
  %h2 Herzlich Willkommen auf Vanessas Website!
  %p
  %p= "Hier gibt es leckere Backrezepte!"
  %p= "Ob Cupcakes, Kuchen oder Torten - hier gibt es alles, was das Herz begehrt!"
  %div{class:'navbar navbar-default'}
    %div{class:'navbar-header'}
      %button{class:'navbar-toggle'}
      %a.navbar-brand{href:'https://www.chefkoch.de'}Vanessa
    %ul{class:'nav navbar-nav'}
      %li{class:'active'}
        %a{href:'#'}Home
      %li
        %a{href:'#'}Kontakt
      %li
        %a{href:'#'}Impressum
  %div.row
    %div.col-xs-3
      %h3 Navigation
      %ul{class:'nav nav-pills nav-stacked'}
        %li{class:'active'}
          %a{href:'http://www.chefkoch.de/magazin/artikel/1940,0/Chefkoch/Cupcakes-edle-Toertchen.html'}Cupcakes
        %li
          %a{href:'http://www.chefkoch.de/magazin/artikel/686,0/Chefkoch/Kuchen-backen.html'}Kuchen
        %li
          %a{href:'http://www.chefkoch.de/magazin/artikel/2034,0/Chefkoch/Torten-beliebte-Klassiker-und-neue-Tortenideen.html'}Torten
    %div.col-xs-9
      %h3 Leckere Cupcakes...mmhhh!
      %img{:src => "cupcakes.jpg"}
      %p
      %p= "Wollen Sie mehr davon?"

      %h4 Name
      %input{type:"text field", value: "Name", id: "text field i"}

      %h4 Email
      %input{type:"text field", value: "Email", id: "text field i"}
      %p
      %input{type:"submit", value: "Abschicken", id: "Abschicken"}
      %p
      %h3 Link zu Chefkoch.de:
      %a{:href => "http://www.chefkoch.de/"} Chefkoch
      %p