!!! 5
%html
  %head
    %link(href="/css/bootstrap.min.css" rel="stylesheet" type="text/css")
  %body
    #container
    %h1 Vanessas Website
    = yield
    %script{:type => "/public/js/bootstrap.min.js"}